examples/random-data-example.json
[
  {
    "id": "4c27d164c31527e6",
    "type": "tab",
    "label": "Clarify example",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "745255b1.294e5c",
    "type": "inject",
    "z": "4c27d164c31527e6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 560,
    "y": 460,
    "wires": [["e5d7322.78383d"]]
  },
  {
    "id": "e5d7322.78383d",
    "type": "function",
    "z": "4c27d164c31527e6",
    "name": "Generate data",
    "func": "let now = msg.payload;\nreturn {\n    topic: 'your-first-signal-id',\n    signal: {\n        name: 'Random Signal 1',\n        type: 'numeric',\n        description: 'Your first signal',\n    },\n    payload: {\n        times: [new Date(now).toISOString()],\n        values: [Math.floor(Math.random() * 101)],\n    },\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 460,
    "wires": [["8f632e95.b9d4c"]]
  },
  {
    "id": "8f632e95.b9d4c",
    "type": "clarify_insert",
    "z": "4c27d164c31527e6",
    "name": "",
    "apiRef": "4bdd62fdfb87c09f",
    "bufferTime": "5",
    "x": 960,
    "y": 460,
    "wires": [[]]
  },
  {
    "id": "4bdd62fdfb87c09f",
    "type": "clarify_api",
    "name": "Clarify example credentails"
  }
]
