examples/random-data-example.json
[
    {
        "id": "745255b1.294e5c",
        "type": "inject",
        "z": "ff33c04b.48486",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "e5d7322.78383d"
            ]
        ]
    },
    {
        "id": "e5d7322.78383d",
        "type": "function",
        "z": "ff33c04b.48486",
        "name": "Generate data",
        "func": "let now = msg.payload;\nreturn {\n    topic: 'your-first-signal-id',\n    signal: {\n        name: 'Random Signal 1',\n        type: 'numeric',\n        description: 'Your first signal',\n    },\n    payload: {\n        times: [new Date(now).toISOString()],\n        values: [Math.floor(Math.random() * 101)],\n    },\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "8f632e95.b9d4c"
            ]
        ]
    },
    {
        "id": "63cbca34.25d774",
        "type": "debug",
        "z": "ff33c04b.48486",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "a60c1d97.8f188",
        "type": "debug",
        "z": "ff33c04b.48486",
        "name": "Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "8f632e95.b9d4c",
        "type": "clarify_insert",
        "z": "ff33c04b.48486",
        "name": "",
        "apiRef": "",
        "bufferTime": "5",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "63cbca34.25d774"
            ],
            [
                "a60c1d97.8f188"
            ]
        ]
    }
]
